{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>J3T</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <H2>J3T</H2>
    <ul>
        <li><a href="{% url 'index' %}">Início</a></li> 
        <li><a href="{% url 'contato' %}">Contato</a></li>  
        <li><a href="{% url 'quemSomos' %}">Quem Somos</a></li>  
        <li><a href="{% url 'servicos' %}">Serviços</a></li>  
    </ul>
</body>
</html>